:root {
	--bg-light: #f4f4f4;
	--bg-dark: #232323;
	--text-light: var(--bg-dark);
	--text-dark: var(--bg-light);
	--transition: 0.3s;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: all var(--transition);
}
.app {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--bg-light);
}
.app.dark {
	background: var(--bg-dark);
}
.button {
	padding: 1rem;
	border: none;
	border-radius: 0.3rem;
	min-width: 15rem;
	font-size: 1rem;
	cursor: pointer;
	background: var(--bg-dark);
	color: var(--text-dark);
	border: 1px solid var(--bg-dark);
}
.button.dark {
	background: var(--bg-light);
	color: var(--text-light);
}
